extends: eslint:recommended

env:
  node: true
  es6: true,
  browser: true

root:
  true

rules:
  comma-dangle: 0
  eol-last: error
  eqeqeq: error
  handle-callback-err: error
  indent: [error, 2]
  no-console: 1
  no-unused-vars: [error, {vars: all, args: none}]
  one-var: [error, never]
  quotes: [error, single]
  semi: [error, always]

